# Enable URL rewriting
RewriteEngine On

# If a real file or directory exists, serve it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise redirect all to index.html
RewriteRule ^.*$ /index.html [L]
